# ----- Ignore files without extension -----
*
!/**/
!*.*

# ----- Macos -----
*.dSYM/

# ----- Cpp gitignore -----
#
# Prerequisites
*.d

# ----- Unit test -----
#
# Prerequisites
[tT]esting/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/
out/


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app